form(action='http://localhost:8081/detruire', method='get')
	fieldset
		legend Critère
		label Champ
			input(type='text', name='champ')
		label Valeur
			input(type='text', name='valeur')
	input(type='submit', value='Détruire')